<div id="<%= dom_id veterinario %>">
  <p>
    <strong>Nome:</strong>
    <%= veterinario.nome %>
  </p>

  <p>
    <strong>Especialidade:</strong>
    <%= veterinario.especialidade %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= veterinario.telefone %>
  </p>

</div>
