<div id="<%= dom_id pet %>">
  <p>
    <strong>Nome:</strong>
    <%= pet.nome %>
  </p>

  <p>
    <strong>Especie:</strong>
    <%= pet.especie %>
  </p>

  <p>
    <strong>Tutor:</strong>
    <%= pet.tutor_id %>
  </p>

</div>
