<% content_for :title, "Novo Pet" %>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h1 class="h3 mb-0">Novo Pet</h1>
        </div>
        <div class="card-body">
          <%= render "form", pet: @pet %>
        </div>
      
      </div>
    </div>
  </div>
</div>